<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
<main class="all-travels-main">

    <h1 class="all-travels-h1">Map</h1>
    <nav class="all-travels-nav">
        <ul>
            <li><a href="map">Map</a></li>
            <li><a href="all-countries">All Countries</a></li>
            <li><a href="#map">Search</a></li>
        </ul>
    </nav>
    <div class="section-wrapper">
        <section class="map-section">
            <div id="map"></div>
        </section>
    </div>


    </main>  
</body>
<script type="text/javascript" src="map.js"></script>
<%- include('../partials/footer.ejs') %>
</html>


